.container{
    width:600px;
    height:800px;
    margin: auto;
    margin-top: 80px;
    border-radius: 16px;
    background:#6561E8
}

.top-bar{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 14px;
}

.cityInput{
    display: flex;
    width:400px;
    height: 80px;
    background: #ebfffc;
    outline: none;
    border: none;
    padding-left: 50px;
    border-radius: 40px;
    color: "#626262";
    font-size: 24px;
    font-weight: 300;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.weather-temp{
     display: flex;
     justify-content: center;
     color: white;
     font-size: 80px;
     font-weight: 400;
}

.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.data-container{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data{
    font-size: 34px;
    font-weight: 400;
}

.text{
font-size: 20px;
font-weight: 400;
}

.icon{
    margin-top: 10px;
}